@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IProduktServices _ProduktServices
<h3>ProduktFormComponent</h3>


<EditForm Model="produkt" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-outline mb-4">
        <InputText @bind-Value="produkt.ProduktName" id="Produktname" class="form-control" />
        <label class="form-label" for="Produktname">Produktname</label>
    </div>

    <div class="form-outline mb-4">
        <InputText id="Description" @bind-Value="produkt.Description" class="form-control" />
        <label class="form-label" for="Description">Description</label>
    </div>


    <div class="form-outline mb-4">
        <InputNumber id="Price" @bind-Value="produkt.Price" class="form-control" />
        <label class="form-label" for="Price">Price</label>

    </div>

    <div class="form-outline mb-4">
        <InputFile accept="image/png,image/jpeg,image/jpg" OnChange="OnInputFileChange" id="Image" class="form-control" />
        <label class="form-label" for="Image">Image</label>
    </div>


    <div class="form-outline mb-4">

        <select @bind="produkt.BrandId" class="form-select" id="Brand">
            <option value=""></option>
            @foreach (var item in Brands)
            {
                <option value="@item.BrandId">@item.BrandName</option>
            }
        </select>
        <label class="form-label" for="Brand">Brand</label>
    </div>


    <div class="form-outline mb-4">

        <select @bind="produkt.TypesId" class="form-select" id="Types">
            <option value=""></option>
            @foreach (var item in Types)
            {
                <option value="@item.TypesId">@item.TypeName</option>
            }
        </select>
        <label class="form-label" for="Types">Types</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-3">Create</button>
</EditForm>


@code {
    public ProduktDTO produkt { get; set; } = new();

    public List<BrandDTO> Brands { get; set; } = new();
    public List<TypesDTO> Types { get; set; } = new();

    long maxAllowedSize = 2000000000;
    public IBrowserFile Upload { get; set; }

    //List<ImageFile> filesBase64 = new List<ImageFile>(); Not Working

    [Parameter] public int Id { get; set; } = 0;

    [Parameter] public EventCallback<ProduktDTO> ValidSubmit { get; set; }
    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            produkt = await _ProduktServices.GetProduktByIdAsync(Id);
        }
        Brands = await _ProduktServices.GetBrandAsync();
        Types = await _ProduktServices.GetTypesAsync();
        await base.OnInitializedAsync();
    }

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        Upload = e.File;
        this.StateHasChanged();
    }

    public async Task HandleValidSubmit()
    {
        string path = @"\wwwroot\Uploads\";
        if (Upload != null)
        {
            produkt.ImageURL = path + Upload.Name;

            #region Not Working Upload
            //var file = Path.Combine(Directory.GetCurrentDirectory(),path, Upload.Name + Path.GetExtension(Upload.ContentType));

            //var resizedFile = await Upload.RequestImageFileAsync(Upload.ContentType, 640, 480); // resize the image file
            //var buf = new byte[resizedFile.Size]; // allocate a buffer to fill with the file's data
            //using (var stream = resizedFile.OpenReadStream(maxAllowedSize))
            //{
            //    await stream.ReadAsync(buf); // copy the stream to the buffer
            //}
            //filesBase64.Add(new ImageFile { base64data = Convert.ToBase64String(buf), contentType = Upload.ContentType, fileName = Upload.Name });
            //await UploadPicture(filesBase64);
            #endregion
           
        }

        await ValidSubmit.InvokeAsync(produkt);
    }
    #region Not Working Upload
    //public async Task UploadPicture(List<ImageFile> files)
    //{
    //    foreach (var file in files)
    //    {
    //        try
    //        {
    //            var buf = Convert.FromBase64String(file.base64data);
    //            await System.IO.File.WriteAllBytesAsync(@"C:\Users\renep\Source\Repos\rene069\EshopBlazor-h3\EshopBlazorProject---H3\wwwroot\Uploads", buf);

    //        }
    //        catch (Exception)
    //        {

    //            throw;
    //        }
    //    }
    //}
    #endregion
}