@page "/CreateProdukt"
@inject IProduktServices _ProduktServices
@inject IToastService toastservice
<h3>CreateProdukt</h3>

<ProduktFormComponent ValidSubmit="CreateProduktAsync"></ProduktFormComponent>

@code {
    public ProduktDTO Produkt { get; set; } = new();

    public List<BrandDTO> Brands { get; set; } = new();
    public List<TypesDTO> Types { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Brands = await _ProduktServices.GetBrandAsync();
        Types = await _ProduktServices.GetTypesAsync();

        await base.OnInitializedAsync();
    }


    public async void CreateProduktAsync(ProduktDTO produkt)
    {
        try
        {
            await _ProduktServices.CreateProduktAsync(produkt);
            toastservice.ShowSuccess($"{produkt.ProduktName} has been Created");
        }
        catch (Exception)
        {
            toastservice.ShowError("Something Went wrong when Creating Produkt");
        }
      
    }

}
