@page "/CreateProdukt"
@using EshopBlazor.Models
@using EshopBlazor.Services
@inject IProduktServices _ProduktServices
<h3>CreateProdukt</h3>

<EshopBlazor.Component.ProduktFormComponent></EshopBlazor.Component.ProduktFormComponent>

@code {
    public Produkt produkt { get; set; } = new();

    public List<BrandDTO> Brands { get; set; } = new();
    public List<TypesDTO> Types { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Brands = await _ProduktServices.GetBrandAsync();
        Types = await _ProduktServices.GetTypesAsync();

        await base.OnInitializedAsync();
    }

    public async Task HandleValidSubmit()
    {
        await _ProduktServices.CreateProduktAsync(produkt);
    }

}
