@page "/EditProdukt/{Id:int}"
<h3>EditProdukt</h3>

<EshopBlazor.Component.ProduktFormComponent Id="Id"></EshopBlazor.Component.ProduktFormComponent>

@code {
    [Parameter]
    public int Id { get; set; }
}
